:root {
  /*Шрифти*/
  --main-fons: "Roboto", sans-serif;
  --secondary-fons: "Raleway", sans-serif;
  /*Цвет*/
  --main-color: #212121;
  --complementary-color: #757575;
  --activ-link-but: #2196f3;
  --background-button: #f5f4fa;
  --white: #fff;
}

body {
  color: var(--main-color);
  background-color: var(--white);
  font-family: var(--main-fons);
}

/*Стили хидера*/
.logo-header {
  color: var(--activ-link-but);
  text-decoration: none;
  font-family: var(--secondary-fons);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logostudio-header {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: var(--secondary-fons);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.nav {
  list-style: none;
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--activ-link-but);
}

.contact {
  list-style: none;
}
.contact-link {
  color: var(--complementary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--activ-link-but);
}
/*Стиль слогана и кнопка заказа на странице "Студия". */
.slogan {
  color: var(--white);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.slogan-button {
  color: var(--white);
  background-color: var(--activ-link-but);
  width: 200px;
  height: 50px;
  left: 700px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--activ-link-but);
}
.slogan-button:hover,
.slogan-button:focus {
  background-color: #188ce8;
}
/*Стиль списка текста на странице "Студия".*/
.content-list {
  list-style: none;
}
.list-warning,
.list-time,
.list-plan,
.list-tech {
  list-style: none;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text-warning,
.list-text-time,
.list-text-plan,
.list-text-tech {
  color: var(--complementary-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/*Стиль заголовка на странице "Студия".*/
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.list-work {
  list-style: none;
}

/*Стиль заголовков и текста информации о команде на странице "Студия".*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  list-style: none;
}
.team-subtitle-id,
.team-subtitle-op,
.team-subtitle-np,
.team-subtitle-me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text-id,
.team-text-op,
.team-text-np,
.team-text-me {
  color: var(--complementary-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*Стиль кнопок фильтра на странице "Портфолио".*/
.filter {
  list-style: none;
}
.button {
  color: var(--main-color);
  background-color: var(--background-button);
  width: 150px;
  height: 26px;
  font-family: var(--main-fons);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.button:hover,
.button:focus {
  background-color: var(--activ-link-but);
  color: var(--white);
}

/*Стиль текста портфолио на странице "Портфолио".*/
.portfolio {
  list-style: none;
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  color: var(--complementary-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*Стиль футера*/
.logo-footer {
  color: var(--activ-link-but);
  text-decoration: none;
  font-family: var(--secondary-fons);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  background-color: #2f303a;
}
.logostudio-footer {
  color: var(--white);
  text-decoration: none;
  font-family: var(--secondary-fons);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  background-color: #2f303a;
}
.address {
  list-style: none;
}
.contactfooter-map {
  color: var(--white);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  background-color: #2f303a;
}
.contactfooter-map:hover {
  color: var(--activ-link-but);
}
.contactfooter {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  background-color: #2f303a;
}
.contactfooter:hover {
  color: var(--activ-link-but);
}
